{% extends 'base.html.twig' %}

{% block title %}Catalogue Produit
{% endblock %}

{% block body %}
	<h1>Catalogue Produit</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Description</th>
				<th>Prix</th>
				<th>Image</th>
				<th>Créé</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ product.id }}</td>
					<td>{{ product.name }}</td>
					<td>{{ product.description }}</td>
					<td>{{ product.price }}
						€</td>
					<td><img src="{{ asset(product.image) }}" width="150px" alt=""></td>
					<td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_product_show', {'id': product.id}) }}">En savoir plus</a>
						<a href="{{ path('app_product_edit', {'id': product.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_product_new') }}">Créer un produit</a>
{% endblock %}
