{% extends 'base.html.twig' %}

{% block title %}Product
{% endblock %}

{% block body %}
	<h1>Product</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Nom</th>
				<td>{{ product.name }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ product.description }}</td>
			</tr>
			<tr>
				<th>Image</th>
				<td><img src="{{ asset(product.photo) }}" width="150px" alt=""></td>
			</tr>
			<tr>
				<th>Créé</th>
				<td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>
	<div class="container">
		<div class="row">
			<div class="col s4">
				<a href="{{ path('app_product_list') }}">Retour au catalogue
				</a>
			</div>
			<div class="col s2">
				<a href="{{ path('app_product_edit', {'id': product.id}) }}">
					Modifier
				</a><br>
			</div>
			<div class="col s2">
				<a href="{{ path('app_product_json', {'id': product.id}) }}">
					{JSON}
				</a>
			</div>
			<form class="col s2" method="POST" action="{{ path('app_add_to_cart', {'id': product.id}) }}">
				<button type="submit" class="btn btn-primary">
					<i class="material-icons">add_shopping_cart</i>
					Ajouter au panier
				</button>
			</form>


		</div>
	</div>


{% endblock %}
